$keyColorBlue: #00acdc;
$redColor: #f44336;
$greenColor: #4CAF50;

$cardWidth: 200px;
$cardHeight: 420px;
$cardsGap: 48px;
$cardsGapVertical: 50px;

$linkHeight: 60px;
$containerPaddingBottom: 78px;

$borderColor: #f3f3f3;
$borderWidth: 3px;
