$keyColorBlue: #00acdc;
$redColor: #f44336;
$greenColor: #4CAF50;
$greyColor: rgb(242,242,242);

$cardWidth: 200px;
$cardHeight: 420px;
$cardsGap: 48px;
$cardsGapVertical: 50px;

$borderColor: #f3f3f3;
$borderWidth: 3px;
